<ngx-spinner
  bdColor= "rgba(151,149,149,0.4)"
  size="large"
  color="orange"
  type="ball-clip-rotate-pulse"
  fullScreen="true"
>
  <p style="font-size: 20px; color: black">Finalizando Pedido...</p>
</ngx-spinner>

<div class="section" *ngIf="cartData.total > 0">
<!-- container -->
<div class="container">
  <!-- row -->
  <div class="row">

    <div class="col-md-7">
      <!-- Billing Details -->
      <div class="billing-details">
        <div class="section-title">
          <h3 class="title">Endereço de Envio</h3>
        </div>
        <form [formGroup]="addressForm" (ngSubmit)="updateAddressSubmit()">
          <div class="form-group">
            <input
              type="text"
              formControlName="rua"
              placeholder="Rua"
              class="form-control input"
              [ngClass]="{ 'is-invalid': submittedAddress && fields.rua.errors }"
            />
            <div
              *ngIf="submittedAddress && fields.rua.errors"
              class="invalid-feedback"
              >
              <div *ngIf="fields.rua.errors.required">
                {{ requiredMsg }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <input [ngClass]="{ 'is-invalid': submittedAddress && fields.numero.errors }" class="form-control input" type="text" formControlName="numero" placeholder="Numero">
            <div
              *ngIf="submittedAddress && fields.numero.errors"
              class="invalid-feedback"
            >
              <div *ngIf="fields.numero.errors.required">
                {{ requiredMsg }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control input" type="text" name="complemento" placeholder="Complemento">
          </div>
          <div class="form-group">
            <input [ngClass]="{ 'is-invalid': submittedAddress && fields.bairro.errors }" class="form-control input" type="text" formControlName="bairro" placeholder="Bairro">
            <div
              *ngIf="submittedAddress && fields.bairro.errors"
              class="invalid-feedback"
            >
              <div *ngIf="fields.bairro.errors.required">
                {{ requiredMsg }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <input [ngClass]="{ 'is-invalid': submittedAddress && fields.cidade.errors }" class="form-control input" type="text" formControlName="cidade" placeholder="Cidade">
            <div
              *ngIf="submittedAddress && fields.cidade.errors"
              class="invalid-feedback"
            >
              <div *ngIf="fields.cidade.errors.required">
                {{ requiredMsg }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <input [ngClass]="{ 'is-invalid': submittedAddress && fields.estado.errors }" class="form-control input" type="text" formControlName="estado" placeholder="Estado">
            <div
              *ngIf="submittedAddress && fields.estado.errors"
              class="invalid-feedback"
            >
              <div *ngIf="fields.estado.errors.required">
                {{ requiredMsg }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <input [ngClass]="{ 'is-invalid': submittedAddress && fields.cep.errors }" class="form-control input" type="text" formControlName="cep" placeholder="CEP">
            <div
              *ngIf="submittedAddress && fields.cep.errors"
              class="invalid-feedback"
            >
              <div *ngIf="fields.cep.errors.required">
                {{ requiredMsg }}
              </div>
            </div>
          </div>
          <div class="btn-container">
            <button type="submit" [disabled]="loading" class="btn primary-btn" >
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span>
              Salvar
            </button>
          </div>
        </form>
        <!-- <div class="form-group">
          <div class="input-checkbox">
            <input type="checkbox" id="create-account">
            <label for="create-account">
              <span></span>
              Create Account?
            </label>
            <div class="caption">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
              <input class="input" type="password" name="password" placeholder="Enter Your Password">
            </div>
          </div>
        </div> -->
      </div>
      <!-- /Billing Details -->

      <!-- Shiping Details -->

      <!-- /Shiping Details -->

      <!-- Order notes -->
      <!-- <div class="order-notes">
        <textarea class="input" placeholder="Order Notes"></textarea>
      </div> -->
      <!-- /Order notes -->
    </div>

    <!-- Order Details -->
    <div class="col-md-5 order-details">
      <div class="section-title text-center">
        <h3 class="title">Seu pedido</h3>
      </div>
      <div class="order-summary">
        <div class="order-col">
          <div><strong>PRODUTO</strong></div>
          <div><strong>Subtotal</strong></div>
        </div>
        <div class="order-products">
          <div class="order-col" *ngFor="let c of cartData.data;">
            <div>{{c.numInCart}}x {{c.product.nome}}</div>
            <div>{{(c.product.preco*c.numInCart) | currency:'R$'}}</div>
          </div>
        </div>
        <div class="order-col">
          <div>Envio</div>
          <div><strong>Gratis</strong></div>
        </div>
        <div class="order-col dropdown-divider">
          <div><strong>TOTAL</strong></div>
          <div><strong class="order-total">{{cartTotal | currency:'R$'}}</strong></div>
        </div>
      </div>
      <div class="payment-method">
        <div class="input-radio">
          <input type="radio" name="payment" id="payment-1">
          <label for="payment-1">
            <span></span>
            Transferência bancária direta
          </label>
          <div class="caption">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="input-radio">
          <input type="radio" name="payment" id="payment-2">
          <label for="payment-2">
            <span></span>
            Cartão de Credito
          </label>
          <div class="caption">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="input-radio">
          <input type="radio" name="payment" id="payment-3">
          <label for="payment-3">
            <span></span>
            Sistema Paypal
          </label>
          <div class="caption">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="input-checkbox">
        <input type="checkbox" id="terms">
        <label for="terms">
          <span></span>
          Li e aceito os <a href="#">termos e condições</a>
        </label>
      </div>
      <button type="submit" class="btn-outline-danger btn-sm my-2 btn-block" [disabled]="cartTotal <= 0 " (click)="onCheckout()">Finalizar Pedido</button>
    </div>
    <!-- /Order Details -->
  </div>
  <!-- /row -->
</div>
<!-- /container -->
</div>
<!-- /SECTION -->

<div class="text-center my-5" *ngIf="cartData.total <= 0">
  <h4>Seu carrinho está vazio</h4>
  <button class="btn btn-primary btn-lg mt-3" routerLink="/">Volta a Loja</button>
</div>